/*AchievementContentHolderBox sets the base for the box that holds the achievements*/
.AchievementContentHolderBox {
    display: block;     /*Displays as a box that scrolls with the screen*/
    position: relative;

    max-width: 100%;    /*Box width matches the width of the screen*/
    overflow-x: hidden; /*Overflow-x being hidden prevents horizontal scrolling*/

    text-align: left;   /*Aligns content to the left*/

    padding-left: 25px; /*Sets padding around the inside of the box, so contents don't sit directly on the edge*/
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b2cce4;  /*Sets colour of the box*/
}

/*AchievementContentHolderTitle is also a box, but is a different colour and holds the title of that section of the app*/
/*This box will sit directly on top of the HolderBox*/
.AchievementContentHolderTitle{
    display: block;
    position: relative;

    max-width: 100%;
    overflow-x: hidden;

    text-align: center; /*This aligns the title to the centre, rather than the left*/

    padding-left: 25px;
    padding-right: 25px;

    margin-top: 25px;   /*margin-top sets the gap between this titles top-edge and anything above it.*/
                        /*there's no margin-bottom as the content box needs to sit directly below it*/

    background-color: #8ab2d7;
}

/*Achievements are stored in an unordered list - this makes the bullet-point next to them a circle*/
.List {
    list-style-type: circle;
}