.AchievementContentHolderBox {
    display: block;
    position: relative;

    max-width: 100%;
    overflow-x: hidden;

    text-align: left;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #b2cce4;
}

.AchievementContentHolderTitle{
    display: block;
    position: relative;

    max-width: 100%;
    overflow-x: hidden;

    text-align: center;

    padding-left: 25px;
    padding-right: 25px;

    margin-top: 25px;

    background-color: #8ab2d7;
}

.AchievementTable{

    border: 1px solid;
    width: 80%;

}

.List {
    list-style-type: circle;
}