.Header {

    display: flex;
    align-items: flex-start;
    overflow-x: hidden;

    top: 0px;
    left: 0vx;
    z-index: +1;

    width: auto;
    height: auto;

    border-radius: 0px;
    margin: 0px;

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #6d9756;
  }

  .icon {

    height: calc(10vw + 5vh);
    width: calc(10vw + 5vh);
    
    margin-right: 5vw;

  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .text h1, .text h2, .text h3 {
    margin: 0px;
    line-height: 2;
  }